/*/////////////////////   GENERAL    ////////////*/
* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: sans-serif;
    
}

#main {
    /*evite le scroll horizontal avoir*/
  width: 99vw;
    
}

header {
    display: flex;
    justify-content: space-between;
}

/*/////  NAV   /////*/

h1 {
    border : 2px solid yellow;
    
}

#nav-container {
    border: 5px solid red;
    
}

/*////  Book   ///////*/
#postAndComments-index {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*dimension du livre */
#book, #book-box, #post-index-container {
    width: 750px;
    height: 600px;
}

/*bacground effet livre*/
#book {
    position: absolute;
    background-image: linear-gradient(90deg, white, grey, white);
}

#book-box {
    position: absolute;
    box-shadow: 0 10px 30px rgba(0,0,0,1);
}

#post-index-container {
    padding: 30px 0 30px 0;
    overflow: hidden;
    position: absolute;
}

.postTitle {
    padding: 0 30px 0 30px ;
    display: flex;
    justify-content: space-between;
    font-style: italic;
    
}

#postContent {
    height: 480px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 25px;
}

#postContent p {
    padding : 0 30px;
    width: 375px;
    position: relative;
}



#post-index-btn {
    text-align: center;
    padding-top: 620px;
   
}
.btn-book {
    filter: 100%;
    background: rgba(255,255,255,0);
    border: 0;
    cursor: pointer;
    font-size: 35px;
}
  
.comments {
   
    border: 2px solid red;
   display: none;
    
}
