/*/////////////////////   GENERAL    ////////////*/
* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;

}


input, textarea {
    padding: 5px;
    border: 1px solid black;
}

section {
    margin-top: 50px;
}

.bowlby {

    font-family: 'Bowlby One SC', cursive;
}

.megrim {
       font-family: 'Megrim', cursive;
}

h2 {
    font-family: 'Bowlby One SC', cursive;
    font-weight: 100;
    font-size: 17px;

}
.btn-bowlby {
    font-family: 'Bowlby One SC', cursive;
    border: 2px solid black;
    color: white;
    background: black;
    font-size: 12px;
    padding: 5px;
    cursor: pointer;
}

.btn-bowlby:hover {
      color: black;
    background: white;

}

.btn-megrim {
     font-family: 'Megrim', cursive;
    color: white;
    font-weight: 900;
     padding: 5px;
    border: white 2px solid;
}

.btn-megrim:hover {
    background: white;
    color: black;
}


#main {
    background: rgb(242,242,242);

    font-family: 'Old Standard TT', 'Arial', sans-serif;

}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(0,0,0);

    height: 80px;
    align-items: center;
    padding: 0 30px;
}

header h1 a{
    padding-right: 27px;
    padding-left: 27px;
}

#content {
    min-height: 90vh;
}

/*/////  NAV   /////*/

h1 a, #nav-container, .nav-post-title a, #titleBook {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

h1  a, #nav-container{
    font-family: 'Megrim', cursive;
    color: white;
    font-weight: 900;
     padding: 5px;
    border: white 2px solid;
}

h1 a:hover, #nav-container:hover {
    background: white;
    color: black;
}

#nav-container {
    cursor: pointer;
}


#titleBook {
    font-family: 'Bowlby One SC', cursive;
    font-size: 22px;
}

#nav-public {
    display: none;
    position: absolute;
    top: 80px;
    border-top: 2px dashed black;
    border-left: 2px dashed black;
    border-right: 2px dashed black;
    background: white;



    z-index: 6;
}

.nav-post-title {
    list-style: none;
    border-bottom: 2px dashed black;


}
.nav-post-title a {
    color: black;
    width: 100%;
     padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-post-title :hover {
    background: black;
    border-color: white;
    color: white;
}

/*////  Book   ///////*/
#postAndComments-index {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*dimension du livre */
#book, #book-box, #post-index-container {
    width: 750px;
    height: 600px;
}

/*bacground effet livre*/
#book {
    position: absolute;
    background-image: linear-gradient(90deg, rgba(0,0,0,0)40%, rgba(0,0,0,1)50%, rgba(0,0,0,0)60%);
    opacity: 0.2;
}

#book-box {
    position: absolute;
    box-shadow: 0 10px 30px rgba(0,0,0,1);
    opacity: 0.3;
    border-radius: 10px;
}

#post-index-container {
    padding: 30px 0 30px 0;
    overflow: hidden;
    position: absolute;


}

.postTitle {
    padding: 0 30px 0 30px ;
    display: flex;
    justify-content: space-between;
    font-style: italic;
    text-decoration: underline;
    font-size: 12px;
    font-family: 'Old Standard TT', 'Arial', sans-serif;

}

#postContent {
    height: 510px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 25px;
    position: relative;

    font-size: 15px;

}

#postContent p {
    padding : 0 30px;
    width: 375px;
    position: relative;
}

#endChap {
    text-align: center;
}


#post-index-btn {
    text-align: center;
    padding-top: 620px;

}
.btn-book {
    background: rgba(255,255,255,0);
    border: 0;
    cursor: pointer;
    font-size: 35px;
}


/*//////// COMMENTS  ////////////*/

.comments {
    margin: 20px 30px;
    width: 750px;
}

#form-comment {
display: none;
border: 2px dashed black;
    padding: 20px 0;

}
#comments-container {
    display: none;
}
#form-comment-flex {
    display: flex;
    flex-direction : column;
    align-items: flex-start;
}

#form-comment-flex label {
    padding: 10px 20px;
    text-align: left;
}

#form-comment-textarea {
    margin-top: 10px;
    width: 700px;
    height: 70px;
}

.comments button:hover {
    color: black;
    background: white;


}

.comments button {
    font-family: 'Bowlby One SC', cursive;
    border: 2px solid black;
    color: white;
    background: black;
    font-size: 12px;
    padding: 5px;
    cursor: pointer;
}

#comments-btn {
   display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}


#comments-container-flex {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 20px;
    border: 2px dashed black;
}

#comments-container-flex h3 {
    font-family: 'Bowlby One SC', cursive;
    font-weight: 100;
    font-size: 15px;
}

.comments-backWhite {
   background: white;
    margin: 10px 10px 10px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

}

.comment-date {
    width: 50%;
    text-align: right;
    padding: 5px 20px;
    font-size: 12px;
    font-style: italic;
}

.comment-author {
    width: 50%;
    text-align: left;
    padding: 5px 20px;
    font-weight: 900;
    font-size: 13px;
    font-style: italic;
}

.comment-content {
    width: 100%;
    text-align: left;
    padding: 5px 20px;
}


#comments-container-flex .comment-btn-reported, #comments-container-flex .btn-reported-submit {
   font-size: 10px;
    padding: 2px;
    text-align: right;
    margin: 5px 20px;

}



.reported-form {
    display: none;
}
.reported-form label {
    font-size: 12px;
}
.reported-form input {
    margin-left: 20px;
}

#btn-form-submit {
    margin: 0 20px;
}

footer {
    display: flex;
    height: 50px;
    width: 100%;
    background: black;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
}

footer a {
    font-family: 'Bowlby One SC', cursive;
    font-size: 14px;
    color: white;
    text-decoration: none;
    padding: 5px;
    border: 2px solid black;

}

footer a:hover {
    border: 2px solid white;
}


/*///////  View admin/connection     /////////////*/
#connection-flex {
    display: flex;;
    flex-direction: column;
    align-items: center;
}

#hello-connection {
    margin: 50px 30px 30px 30px;
}

#form-connection {
    display: flex;
    margin: 0 30px 0 30px;
    flex-direction: column;
    align-items: center;
}
#form-connection label {
    margin-bottom: 10px;
}

#form-connection input {
    margin-bottom: 20px;
    width: 200px;
}
#form-connection button {
    width: 80px;
    margin-left: 60px;
}

/*/////// view admin/index     /////////////*/
#nav-admin {
    background: black;
    padding: 20px 0;
}
#nav-admin ul {
     display: flex;
    justify-content: space-around;
}

#nav-admin li {
    list-style: none;
    font-size: 20px;
}

#nav-admin a {
    text-decoration: none;
}

#admin-comments-reported {
    margin: 50px 40px;



}

#admin-comments-reported ul {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

#admin-comments-reported li {
    list-style: none;
}

.nb-reported, .numChap, .email-reported {
    width: 33%;
    text-align: center;
    margin: 10px 0;
}

.nb-reported, .email-reported {
    font-size: 13px;
}

.numChap{
    font-size: 20px;
}

#admin-comments-reported a {
    text-decoration: none;
    font-size: 10px;
    margin: 5px 20px;
}

#posts-listing {
    margin: 50px 40px;



}

#posts-listing ul{
    list-style: none;
    margin-left: 20px;
    margin-top: 15px;
    border: 2px dashed black;
     background: white;
    padding-left: 15px;
}

#posts-listing li {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 10px 10px 0;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

#posts-listing li:hover {
    background: rgb(242,242,242);
}

#posts-listing a {
    text-decoration: none;
    margin: 0 5px;
}

.post-listing-title {
    flex-grow: 1;
    display: flex;
    align-items: baseline;
    color: black;
}

#deconnexion-btn {
    padding: 5px 10px;
}

/*/////////// View create and update      ///////////*/

#create, #update {
    margin: 40px;
}

#create label, #btn-create, #update label, #btn-update {
    margin: 20px 10px;
}

#mceu_11 {
    border: 1px solid black;
}
#post-title {
    margin-bottom: 20px;
    width: 100%;
}
#post-content {
    height: 50vh;
}

/*//////////   View admin/read      ///////////*/
.admin-nb-reported {
    width: 67%;
    text-align: left;
    padding-left: 20px;
}

.admin-email-reported {
    padding-right: 20px;
}

.admin-btn-delete-comment {
    text-decoration: none;
    margin: 5px;
}

/*//////////////    notification after one action       /////////////////////////////*/
.notification {
    position: absolute;
    display: inline-block;
    border: 2px dashed black;
    background: white;
    top: 20px;
    left: 30px;
    padding: 15px;
    font-family: 'Bowlby One SC', cursive;
    font-size: 14px;
}


/*////////////////////     RESPONSIVE    /////////////*/
@media all and (max-device-width: 1024px) {
    /*<<<<<  Accueil        <<<<<<*/
    .postTitle {
        font-size: 16px;
    }

    #postContent {
        font-size: 17px;
    }

    .comments button {
        font-size: 15px;
    }

    #form-comment-flex {
        font-size: 20px;
    }

    #form-comment-textarea {
        margin-top: 0;
    }


    #comments-container-flex h3 {
        font-size: 20px;
    }

    .comment-author, .comment-date, .reported-form label {
        font-size: 17px;
    }

    .reported-form label {
      display: flex;
        padding: 10px;
        padding-right: 20px;
        align-items: center;
    }

    .comment-content {
        font-size: 20px;
    }
    #comments-container-flex .comment-btn-reported,
    #comments-container-flex .btn-reported-submit {
        font-size: 14px;
    }

    /*<<<<<<<<<<<<<<<  connexion view          <<<<<<<<<<<<<<<<<<*/
    #form-connection input {
        margin-left: 20px;
        margin-top: 10px;
    }
}





@media all and (max-device-width: 750px) {

    /*<<<<<<<<<<<<< general      <<<<<<<<<<<<*/
    #content {
        font-size: 35px;
    }

    .btn-bowlby {
        font-size: 25px;
        padding: 10px;
    }

    /*<<<<<<<<<<<< Accueil     <<<<<<<<<<<<<*/
    header{
        height: 200px;
    }

    h1 , header #nav-container {
       font-size: 40px;
        margin-top: 30px;
    }

    h1 a {
        font-size: 40px;
    }

    header #titleBook {
        -webkit-order: 1;
            order: 1;
        width: 100%;
        text-align: center;
        font-size: 40px;
    }

    #nav-public {
        top: 107px;
    }

    .nav-post-title a {
        font-size: 35px;
    }

    .btn-book {
        font-size: 60px;
        margin: 0 30px 30px 30px;

    }

    #post-index-btn {
        padding-top: 1130px;
    }

    #comments-btn {
        flex-direction: column;
        align-items: center;

    }

    #btn-comment, #btn-readComment {
        font-size: 30px;
        width: 500px;
        padding: 10px 0;
        margin: 20px;
    }

    #form-comment-flex p {
        font-size: 30px;
    }

    #form-comment-flex input,
    #form-comment-flex textarea {
        font-size: 25px;
        width: 690px;
        margin: 15px 0 15px 15px;
    }

    #btn-form-submit {
        font-size: 25px;
        padding: 10px;

    }

    #comments-container-flex h3 {
        font-size: 30px;
    }

    .comment-author, .comment-date {
        font-size: 25px;
    }

    .comment-date {
        width: 70%;
    }

    .comment-author {
        width: 30%;
    }

    .comment-content {
        font-size: 30px;
    }

    .comment-btn-reported {
        font-size: 20px;
        padding: 5px;
    }

    footer a {
        font-size: 20px;
    }

    /*----- bookslider    ------*/

    #book {
        background-image: none;
    }

    #book-box {
        box-shadow: 0 30px 150px rgba(0,0,0,1);
    }

    #book, #book-box, #post-index-container {
        height: 1100px;
    }

    #postContent {
        height: 1000px;
        font-size: 35px;
    }

    #postContent p {
        width: 750px;
    }

    .postTitle {
        font-size: 35px;
    }


    /*<<<<<<<<<  connection view           <<<<<<<<<<<<<<<*/

    #form-connection input{
        width: 400px;
        padding: 20px;
    }

    #form-connection button {
        width: 150px;
        padding: 10px;
    }

    /*<<<<<<<<<<<<   index admin       <<<<<<<<<<*/
    #nav-admin li {
        font-size: 40px;
    }

     #admin-comments-reported h2, #posts-listing h2 {
        font-size: 37px;
    }

    .nb-reported, .email-reported {
        font-size: 30px;
        -webkit-order: 0;
            order: 0;
        width: auto;
        min-width: 34%;
    }

    .numChap {
        -webkit-order: 1;
            order: 1;
        width: 100%;
        font-size: 35px;
    }

   #admin-comments-reported .comment-author, #admin-comments-reported .comment-date {
        -webkit-order: 2;
            order: 2;
       font-size: 30px;
    }

    #admin-comments-reported .comment-content {
        -webkit-order: 3;
            order: 3;
        font-size: 35px;
    }

    #admin-comments-reported .btn-bowlby {
        -webkit-order: 4;
            order: 4;
        font-size: 22px;
    }

    .post-listing-title {
        width: 100%;
        justify-content: center;
    }

    #posts-listing .btn-bowlby {
        font-size: 25px;
        margin: 20px 0 30px 0;
    }


    /*<<<<<<<<<   create view <<<<<<<<<<<<<*/
    #create #post-title {
        margin-bottom: 40px;
    }

    /*<<<<<<<<<<<<< view read <<<<<<<<<<<<<<<*/
    .admin-nb-reported, .admin-email-reported {
        width: 100%;
    }
}

@media all and (max-device-width: 450px) {
    /*<<<<<<<<<<  home <<<<<<<<<*/
    #comments-container-flex .comment-btn-reported, #comments-container-flex .btn-reported-submit {
        font-size: 20px;
        padding: 5px;
    }

    .reported-form label, .reported-form-input, #form-comment-flex label, .notification, #form-connection input, #create input, #create textarea, #update input, #update textarea {
        font-size: 25px;
    }
    
    .admin-nb-reported, .admin-email-reported {
        font-size: 25px;
    }
}
